<div class="card mt-5 shadow">
  <div class="card-body p-5">
    <h3>Leave a comment</h3>
    <p>You can leave a comment using this comment form</p>
    <hr />
    <form>
      <div class="form-group pt-3">
        <label for="exampleFormControlInput1">Name</label>
        <input
          type="email"
          class="form-control shadow-sm"
          id="exampleFormControlInput1"
          placeholder="Enter your name"
        />
      </div>
      <div class="form-group pt-4">
        <label for="exampleFormControlTextarea1">Comment</label>
        <textarea
          class="form-control shadow-sm"
          id="exampleFormControlTextarea1"
          rows="5"
          placeholder="Enter your comment here"
        ></textarea>
      </div>
      <button class="btn btn-comment shadow">Add Comment</button>
    </form>
  </div>
</div>
