<section class="hero-section">
  <div class="container text-white">
    <div class="row">
      <div class="col-md-12"><h2>General Knowledge</h2></div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolores
          beatae consequatur temporibus ut cum exercitationem illo nobis
          eligendi illum fugiat autem, molestiae delectus ipsam excepturi
          sapiente nam. Eos, qui in.
        </p>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container mt-5 mb-5">
    <div class="row">
      <div class="col-lg-4 col-sm-6">
        <app-post-card></app-post-card>
      </div>
      <div class="col-lg-4 col-sm-6">
        <app-post-card></app-post-card>
      </div>
      <div class="col-lg-4 col-sm-6">
        <app-post-card></app-post-card>
      </div>
      <div class="col-lg-4 col-sm-6">
        <app-post-card></app-post-card>
      </div>
      <div class="col-lg-4 col-sm-6">
        <app-post-card></app-post-card>
      </div>
      <div class="col-lg-4 col-sm-6">
        <app-post-card></app-post-card>
      </div>
    </div>
  </div>
</section>
