<section class="featured-section">
  <div class="container-fluid">
    <div class="row mt-5 mb-5">
      <div class="col-md-12 text-center mt-5">
        <h2 class="text-white">Featured Posts</h2>
        <p class="text-white">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deleniti,
          quas itaque, repellendus distinctio cum velit aliquam fugiat pariatur
          qui quod illum, magni eos aliquid beatae veniam. Rem tenetur dolores
          omnis.
        </p>
      </div>
    </div>
    <div class="row">
      <div
        class="col-lg-3 col-sm-6"
        *ngFor="let featuredPost of featuredArray; let i = index"
      >
        <app-post-card [postData]="featuredPost"></app-post-card>
      </div>
    </div>
  </div>
</section>
<section class="latest-section">
  <div class="container">
    <div class="row mt-5 mb-5">
      <div class="col-md-12 text-center mt-5">
        <h2>Latest Posts</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deleniti,
          quas itaque, repellendus distinctio cum velit aliquam fugiat pariatur
          qui quod illum, magni eos aliquid beatae veniam. Rem tenetur dolores
          omnis.
        </p>
      </div>
    </div>
    <div class="row">
      <div
        class="col-lg-4 col-sm-6"
        *ngFor="let latestPost of latestArray; let i = index"
      >
        <app-post-card [postData]="latestPost"></app-post-card>
      </div>
    </div>
  </div>
</section>
