<div class="container pt-5">
  <div class="card text-white p-5 shadow-lg">
    <h2 class="text-center">About us</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic, recusandae.
      Eveniet ea eius non, at illo dicta quis qui soluta totam temporibus est
      quaerat ipsam voluptatibus repudiandae expedita. Ut, exercitationem.
      Ducimus, placeat nam? Incidunt aut culpa sunt inventore ipsam impedit
      eveniet optio cupiditate aliquid numquam dicta fuga adipisci, asperiores
      dignissimos alias veritatis nemo nulla recusandae, tempore pariatur maxime
      ipsum eum? Aut earum dolores, ut aliquid accusantium reprehenderit ex
      perspiciatis necessitatibus laudantium dolorum! Illum, possimus blanditiis
      culpa earum alias sit aspernatur quo cum labore, optio vero dolor eaque
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic, recusandae.
      Eveniet ea eius non, at illo dicta quis qui soluta totam temporibus est
      quaerat ipsam voluptatibus repudiandae expedita. Ut, exercitationem.
      Ducimus, placeat nam? Incidunt aut culpa sunt inventore ipsam impedit
      eveniet optio cupiditate aliquid numquam dicta fuga adipisci, asperiores
      dignissimos alias veritatis nemo nulla recusandae, tempore pariatur maxime
      ipsum eum? Aut earum dolores, ut aliquid accusantium reprehenderit ex
      perspiciatis necessitatibus laudantium dolorum! Illum, possimus blanditiis
      culpa earum alias sit aspernatur quo cum labore, optio vero dolor eaque
    </p>
    <div class="text-center">
      <button class="btn btn-info btn lg mt-4 shadow">Bck to Home</button>
    </div>
  </div>
</div>
