<div class="container pt-5">
  <div class="row">
    <div class="col-md-12">
      <img
        src="{{ post.postImgPath }}"
        alt="image"
        class="card-img-top image-rounded shadow"
      />
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-md-9">
      <small class="bg-light badge text-danger text-color shadow-sm">{{
        post.category.category
      }}</small>
      <small
        class="bg-light badge text-success text-color ml-3 shadow-sm"
        *ngIf="post.isFeatured"
        >Featured</small
      >
      <small class="bg-light badge text-info text-color ml-3 shadow-sm"
        >Views - {{ post.views }}</small
      >
      <span class="badge badge-light shadow-sm ml-3"
        >Last updated - {{ formatDate(post.createdAt) | date }}</span
      >

      <h2 class="mt-4">{{ post.title }}</h2>
      <p [innerHTML]="post.content"></p>

      <app-comments-form></app-comments-form>
      <app-comments-list></app-comments-list>
    </div>
    <div class="col-md-3">
      <div *ngFor="let similarPost of posts">
        <app-post-card [postData]="similarPost"></app-post-card>
      </div>
    </div>
  </div>
</div>
