/* Card css */

.card {
  max-width: 35rem;
  border: 1px solid var(--navbar-footer-color);
  padding-bottom: 1rem;
  margin: 2rem auto;
}

.image-rounded {
  border-radius: 1.5rem;
}

.card-img-top {
  width: 90%;
  margin: 2rem auto;
}

p {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
}
