<div class="card shadow-sm" *ngIf="post" [routerLink]="['/post', post.id]">
  <img
    src="{{ post.postImgPath }}"
    alt="image"
    class="card-img-top image-rounded shadow"
  />
  <div class="card-body">
    <small class="bg-light badge text-danger text-color shadow-sm">{{
      post.category.category
    }}</small>
    <small
      class="bg-light badge text-success text-color ml-3 shadow-sm"
      *ngIf="post.isFeatured"
    >
      Featured</small
    >
    <small class="bg-light badge text-info text-color ml-3 shadow-sm"
      >Views: {{ post.views }}</small
    >

    <h3 class="mt-4">{{ post.title }}</h3>
    <p>
      {{ post.excerpt }}
    </p>
    <span class="badge badge-light shadow-sm"
      >Last updated - {{ formatDate(post.createdAt) | date }}</span
    >
  </div>
</div>
